<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.campign_project">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="campign_project"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Your existing meta-data and activity -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAPOI57MnxmDzPj0qOEVv6mWL55tccQFw0"/>
        <meta-data
            android:name="com.dexterous.flutterlocalnotifications.default_notification_icon"
            android:resource="@drawable/ic_stat_access_alarm" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="mycampingapp.web.app"
                    android:pathPrefix="/sites"/>
            </intent-filter>

            <intent-filter>
                <action android:name="FLUTTER_NOTIFICATION_CLICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- WorkManager service and receiver for background tasks -->
        <service
            android:name="be.tramckrijte.workmanager.WorkManagerService"
            android:exported="false"/>
        <receiver
            android:name="be.tramckrijte.workmanager.WorkManagerBroadcastReceiver"
            android:exported="false"/>

        <!-- Flutter embedding meta-data -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>
